name: CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Build and Test
              uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version: '8'
                  cache: 'maven'
            - name: Build with Maven
              run: mvn -B -Dgpg.skip verify
